Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
import pandas as pd

In [2]:
s1 = ['Alice','Bob','Claire']

In [7]:
s2 = [34,56,43]

In [4]:
s3 = ['Female','Male','Female']

In [5]:
Name = pd.Series(s1)

In [8]:
Age = pd.Series(s2)

In [9]:
Gender = pd.Series(s3)

In [10]:
l1 = [Name,Age,Gender]

In [11]:
df = pd.DataFrame(l1)

In [12]:
df

        0     1       2
0   Alice   Bob  Claire
1      34    56      43
2  Female  Male  Female