Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [1]:
import pandas as pd

In [14]:
s1 = ['Alice','Bob','Claire']

In [15]:
s1 = ['Alice','Bob','Claire']

In [16]:
s3 = ['Female','Male','Female']

In [17]:
Name = pd.Series(s1)

In [18]:
Age = pd.Series(s2)

In [19]:
Gender = pd.Series(s3)

In [20]:
l1 = [Name,Age,Gender]

In [21]:
df = pd.DataFrame(l1)

In [22]:
df

        0     1       2
0   Alice   Bob  Claire
1      25    30      27
2  Female  Male  Female

Next way

In [24]:
df = pd.DataFrame({"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']})

In [25]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [26]:
df['Name']

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object