Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [1]:
import pandas as pd

In [3]:
l1 = list(range(1,11))

In [5]:
s1 = pd.Series(l1)

In [6]:
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64