Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
l1  = [4,8,15,16,23,42]

In [3]:
s1 = pd.Series(l1)

In [4]:
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64